<?xml version="1.0"?>
<model>
	<name>myrobot</name>
	<version>1.0</version>
	<sdf version='1.4'>model.sdf</sdf>
	
	<author>
	<name>Zbigniew Barczyk</name>
	<email>z.barczyk-2020@hull.ac.uk</email>
	</author>
	
	<description>
	Turtlebot-based mobile robot with a laser scanner for traversing mazes.
	</description>
</model>
