<launch>
	<!--We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch"/>
   
	<!--more default parameters can be changed here -->
	<arg name="x" default="0.1"/>
	<arg name="y" default="-0.3"/>
	<arg name="z" default="0"/>
	<arg name="Y" default ="3.1416"/>

	<arg name="xw" default="0"/>
	<arg name="yw" default="0"/>
	<arg name="zw" default="0"/>
	<arg name="Yw" default ="0"/>
 
	<!--Spawn a robot into Gazebo -->
	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-file $(find ZbigniewBarczyk_638237_ACW1)/B/Task4/robot.sdf -sdf -z 1 -model robot -x $(arg x) -y $(arg y) -z $(arg z) -Y$(arg Y)" />
	<node name="spawn_world" pkg="gazebo_ros" type="spawn_model" args="-file $(find ZbigniewBarczyk_638237_ACW1)/B/Task4/world.sdf -sdf -z 1 -model world -x $(arg xw) -y $(arg yw) -z $(arg zw) -Y$(arg Yw)" />
	<node pkg="ZbigniewBarczyk_638237_ACW1" name="robot" type="robot4.py"/>

</launch>